<div class="alert-warning">
For your convenience, the following users for this application already exist:
<ul>
	<li><b>admin</b> (admin privileges, has access to Users Management and can view all bugs)</li>
	<li><b>developer_foo</b>, <b>developer_2</b> (developer privileges, can view all bugs and mark as resolved)</li>
	<li><b>user_bar</b>, (regular user privileges, can only see bugs they have reported)</li>
</ul>
The password for all these users is simply <b>password</b>
<small><br><br>Last updated: 5/8/2017</small>
</div>

<h1>Login</h1>

<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= render "form" %>

<p id="register">
If you are a new employee, please 
<%= link_to "register", registration_path  %>.
</p>