<%= simple_form_for @user do |u| %>
	<% if @current_user.admin? %>
		<%= u.input :admin, label:"Admin?", default: "false" %>
		<%= u.input :developer, label:"Developer?", default: "false" %>
		<%= u.button :submit, name:"edit_privileges", value:"Change Privileges" %>
	<% end %>
<% end %>