<%= simple_form_for @user do |u| %>
	<%= u.input :email, label:"Email" %>
	<%= u.input :email_confirmation, label:"Confirm your email" %>
	<%= u.input :first_name, label:"First Name" %>
	<%= u.input :last_name, label:"Last Name" %>
	<%= u.input :password, label:"Password (8 character minimum)" %>
	<%= u.input :password_confirmation, label:"Confirm your password" %>
	<%= u.button :submit, name:"edit_main", value:"Save" %>
<% end %>