<h1>Profile settings for: <span class="username"><%= @user.username %></span></h1>

<% if current_user.admin? %>
    <br>
<% else %>
    <%= link_to 'Back', bugs_path %>
<% end %>

<% if current_user.admin? %>
    <h2>User Privileges</h3>
<% end %>
<%= render 'form_edit_privileges' %>

<% if current_user.admin? %>
    <hr>
    <h2>User Profile</h3>
<% end %>
<%= render 'form_edit' %>