<h1>User Management</h1>

<%= link_to 'Add a new User', new_user_path %>


	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |u| %>
				<tr>
					<td><%= u.id %></td>
					<td><%= u.username %></td>
					<td><%= u.email %></td>
					<td><%= u.first_name %></td>
					<td><%= u.last_name %></td>
					<td><%= link_to 'edit', edit_user_path(u) %></td>
					<td>
						<%= link_to 'delete', user_path(u),
								method: :delete,
								data: {confirm: "Are you sure?"} %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>