<h1>New User Registration</h1>

<% if logged_in? && current_user.admin? %>
    <%= link_to 'Back', users_path %>
<% else %>
    <%= link_to 'Back to Login', login_path %>
<% end %>


<%= render "form_registration" %>