<%= simple_form_for @bug do |f| %>
  <%= f.input :name, label:"Bug" %>
  <%= f.input :error_msg, label:"Error Msg" %>
  <%= f.input :description, label:"Description" %>
  <%= f.input :causes, label:"What causes/caused it?" %>
  <% if @current_user.developer? %>
      <%= f.input :resolved, label:"Resolved?", default: "false" %>
  <% end %>
  <%= f.button :submit, value:"Submit" %>
<% end %>