<h1>Bugs</h1>

<div>
	Welcome <span class="username"><%= current_user.first_name %></span>!<br>
	Note: You are currently logged in as <span class="username"><%= current_user.username %></span>.  
	If this is not you, please
	<%= link_to "log out", logout_path, method: :delete %>.<br>
</div>

<div id="bug-list">

	<%= button_to "Report a new Bug", new_bug_path, :method => "get" %>

	<% @bugs.each do |b| %>

		<div class="bug-item">

			<div class="bug-item-name">
				<%= link_to b.name, bug_path(b) %>
			</div>

			<div class="bug-item-desc">
				<p><%= b.description %></p>
			</div>

			<small><%= b.created_at.to_formatted_s(:long)  %> | <span class="username"><%= b.user.username %></span></small><br>

		</div>

	<% end %>

</div>