<h1>Bug Details</h1>

<%= link_to 'Back', bugs_path %>
<br>

<div class="bug-item">

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Delete', bug_path(@bug),
    method: :delete,
		data: {confirm: "Are you sure?"} %>

  <div class="bug-item-name">
    <%= @bug.name %>
  </div>

  <div class="bug-item-desc">
    <div class="bug-item-label">
      desc
    </div>
    <p><%= @bug.description %></p>
  </div>

  <div class="bug-item-error">
    <div class="bug-item-label">
      error msg
    </div>
    <p><%= @bug.error_msg %></p>
  </div>

  <div class="bug-item-causes">
    <div class="bug-item-label">
      causes
    </div>
    <p><%= @bug.causes %></p>
  </div>

  <small>
    Reported by: <span class="username"><%= @bug.user.username %></span>
  </small><br>
  <small>
    Resolved by:
    <% if @bug.resolver %>
      <span class="username"><%= @bug.resolver.username %></span>
    <% else %>
      (n/a)
    <% end %>
  </small><br>
  <small>Created: <%= @bug.created_at.to_formatted_s(:long)   %></small><br>
  <small>Modified: <%= @bug.updated_at.to_formatted_s(:long)   %></small><br>

</div>