// Place all the styles related to the Bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  ==========
  LAYOUT
  ==========
*/
#bug-list {
    margin-bottom: 40px;
    margin-top: 40px;
}

.bug-item {
    border: 1px solid darkgray;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 8px
}

.bug-item-name,
.bug-item-desc,
.bug-item-error,
.bug-item-causes {
    border-bottom: 1px dotted darkgray;
    padding-top: 16px;
    position: relative;
    margin-bottom: 8px;
}

.bug-item-label {
    font-weight: bold;
    left: 2px;
    position: absolute;
    top: 0;
    font-size: 10px;
    text-decoration: underline;
}

.bug-item-name {

    font-size: 22px;
}

.bug-item-desc {

}

.bug-item-error {

}

.bug-item-causes {

}