@import "bootstrap-sprockets";
@import "bootstrap";

/*
  ==========
  LAYOUT
  ==========
*/

body {
  padding-bottom: 65px;
  padding-top: 65px;
}

@media (max-width: 768px) {
  body {
    padding-top: 155px;
  }
}

.container {
  max-width: 730px;
}

/*
  ==========
  TYPOGRAPHY
  ==========
*/

.username {
  font-weight: bold;
}


/*
  ==========
  FORMS
  ==========
*/
form {
  margin-top: 16px;
  margin-bottom: 24px;
  max-width: 300px;
}