// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  ==========
  LAYOUT
  ==========
*/

#register {
    margin-top: 16px;
    text-align: center;
}