<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
		<% if logged_in? %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<% if @current_user.admin? %>
						<li><%= link_to "Users", users_path %></li> 
					<% end %>
					<li><%= link_to "Bugger", bugs_path %></li>
					<li><%= link_to "Profile", edit_user_path(current_user) %></li>
					<li><%= link_to "Logout", logout_path,  method: :delete %></li>
				</ul>
			</nav>
		<% end %>
  </div>
</header>